<h1> Mi primera app en angular</h1>
<p>Gracias amiguita {{usuario.nombre}}{{usuario.apellido}}</p>
<h3>No hacer ---> Desarrollado por: {{
  saludar(usuario.nombre, usuario.apellido)}}</h3>
<!-- a href ="{{url}}">-->
<a [href] ="url">
  <img [src]= "src" alt="logo angular">
</a>
<h2>________________________</h2>
<h2>Property Binding</h2>
<h3>Mi primera forma con llaves</h3>
<!-- <p id = "bind" ></p>-->
<p>{{parrafo}}</p>
<h3>Mi segunda forma con []</h3>
<!-- <p [innerText]="parrafo"></p> -->
<p [style.color]="'green'"
   [style.background-color]="background"
   [innerText]="parrafo"></p>
<input type = "text" [value]="parrafo">
<app-estilos></app-estilos>
<app-estilos></app-estilos>
