<div class="container">
  <h1 class="display-2">Bienvenidos</h1>
  <a title="Star Wars" href=""><img src="https://s-media-cache-ak0.pinimg.com/originals/60/42/41/604241472eebf494087523e2339a10a9.gif" alt="" /></a>
</div>
<div class="row">
  <div style="align-content: center" class="col-md-6">
    <br>
    <button (click)="cargarPlanetas()" class="btn btn-success">Planetas de Star Wars</button>
  </div>
</div>
<div class="card">
  <ul>
    <li *ngFor="let planet of personas" >{{planet.name}}</li>
  </ul>
</div>
<div class="container">
  <div class="card-block">
      <div class="row">
          <div class="col-sm-4" *ngFor="let planet of personas; let i= index">
            <app-planeta-star-wars [persona]="planet" ></app-planeta-star-wars>
            <app-climate></app-climate>
            <app-gravity></app-gravity>
          </div>
        </div>
  </div>
</div>

<div class="container">
  <h2>BIENVENIDOS CREAR USUARIO</h2>
  <br>
  <h2>Usuarios</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
          <pre>
            {{nuevoUsuario | json }}
          </pre>
        <label class="col-form-label">
          Nombre Usuario:
        </label>
        <input class="form-control"
               placeholder="Ingrese nuevo nombre"
               [(ngModel)]="nuevoUsuario.nombre" type="text">
      </div>
      <button class="btn btn-primary" (click)="crearUsuario()">Crear un Usuario</button>
      <button class="btn btn-primary" (click)="actualizarUsuario()">Actualizar Listado Usuarios</button>
    </div>
  </div>
  <br>
  <h3>Usuarios:</h3>

  <div class="row">
    <div class="col-sm-3" *ngFor="let usuario of usuarios;let i = index;">
      <h3>{{usuario.nombre}}</h3>
      <p class="card-text">{{usuario.nombre}} </p>
      <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id, i)"> Eliminar un Usuario</button>
    </div>
  </div>
</div>
