<div class="card">
  <div class="card-block">
    <h4 class="card-title">Descripcion item {{celular.id}}</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{celular.nombre}}</li>
      <li class="list-group-item">Sistema Operativo: {{celular.sistemaOperativo}}</li>
      <li class="list-group-item">Version: {{celular.version}}</li>
      <li class="list-group-item">Actualizado en: {{celular.updatedAt}}</li>
    </ul>
  </div>
  <div class="card-footer">
    <small class="text-muted">Creado el {{celular.createdAt}}</small>
  </div>
</div>
