<div class="card">
  <div class="card-blockquote">
    <h5 class="card-title"><br>Descripcion Producto {{celular.id}}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{celular.nombre}}</li>
      <li class="list-group-item">Sistema Operativo: {{celular.sistemaOperativo}}</li>
      <li class="list-group-item">Version: {{celular.version}}</li>
      <li class="list-group-item">Actualizado en: {{celular.updatedAt}}</li>
      <li class="list-group-item">Creado el {{celular.createdAt}}</li>
  </ul>
  </div>
</div>
<br>
<br>
